<?xml version="1.0" encoding="UTF-8"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://axelor.com/xml/ns/object-views https://axelor.com/xml/ns/object-views_7.1.xsd">

    <menuitem name="menu-for-management" title="Access Management" icon="fa fa-cogs"/>

    <menuitem name="menu-for-builder" parent="menu-for-management" title="Residential Complexes" icon="fa fa-building"
              action="action-building"/>
    <action-view name="action-building" title="Residential Complexes"
                 model="com.axelor.apps.erp.db.Building">
        <view type="grid" name="building-grid"/>
        <view type="form" name="building-form"/>
    </action-view>

    <menuitem name="menu-for-entrance" parent="menu-for-management" title="Access Zones" icon="fa fa-sitemap"
              action="action-entrance"/>
    <action-view name="action-entrance" title="Access Zones"
                 model="com.axelor.apps.erp.db.Entrance">
        <view type="grid" name="entrance-grid"/>
        <view type="form" name="entrance-form"/>
    </action-view>

    <menuitem name="menu-for-resident" parent="menu-for-management" title="Persons" icon="fa fa-user-o"
              action="action-partner-resident"/>
    <action-view name="action-partner-resident" title="Persons"
                 model="com.axelor.apps.base.db.Partner">
        <view type="grid" name="partner-resident-grid"/>
        <view type="form" name="partner-resident-form"/>
    </action-view>

    <menuitem name="menu-for-device" parent="menu-for-management" title="Devices" icon="fa fa-desktop"
              action="action-device"/>
    <action-view name="action-device" title="Devices" model="com.axelor.apps.erp.db.Device">
        <view type="grid" name="device-grid"/>
        <view type="form" name="device-form"/>
    </action-view>

    <menuitem name="menu-for-access-rights" parent="menu-for-management" title="Credentials" icon="fa fa-id-card"
              action="action-access-rights" groups="admins,bosses"/>
    <action-view name="action-access-rights" title="Credentials"
                 model="com.axelor.apps.erp.db.AccessRights" >
        <view type="grid" name="access-rights-resident-grid"/>
        <view type="form" name="access-rights-resident-form"/>
    </action-view>

</object-views>
